:root {
  --alphaA1: hsla(0, 0%, 0%, 0.012);
  --alphaA2: hsla(0, 0%, 0%, 0.027);
  --alphaA3: hsla(0, 0%, 0%, 0.047);
  --alphaA4: hsla(0, 0%, 0%, 0.071);
  --alphaA5: hsla(0, 0%, 0%, 0.090);
  --alphaA6: hsla(0, 0%, 0%, 0.114);
  --alphaA7: hsla(0, 0%, 0%, 0.141);
  --alphaA8: hsla(0, 0%, 0%, 0.220);
  --alphaA9: hsla(0, 0%, 0%, 0.439);
  --alphaA10: hsla(0, 0%, 0%, 0.478);
  --alphaA11: hsla(0, 0%, 0%, 0.565);
  --alphaA12: hsla(0, 0%, 0%, 0.910);
}
