  $alphaA1: hsla(0, 0%, 100%, 0);
  $alphaA2: hsla(0, 0%, 100%, 0.013);
  $alphaA3: hsla(0, 0%, 100%, 0.034);
  $alphaA4: hsla(0, 0%, 100%, 0.056);
  $alphaA5: hsla(0, 0%, 100%, 0.086);
  $alphaA6: hsla(0, 0%, 100%, 0.124);
  $alphaA7: hsla(0, 0%, 100%, 0.176);
  $alphaA8: hsla(0, 0%, 100%, 0.249);
  $alphaA9: hsla(0, 0%, 100%, 0.386);
  $alphaA10: hsla(0, 0%, 100%, 0.446);
  $alphaA11: hsla(0, 0%, 100%, 0.592);
  $alphaA12: hsla(0, 0%, 100%, 0.923);
