$--blue1: --blue1;
$--blue2: --blue2;
$--blue3: --blue3;
$--blue4: --blue4;
$--blue5: --blue5;
$--blue6: --blue6;
$--blue7: --blue7;
$--blue8: --blue8;
$--blue9: --blue9;
$--blue10: --blue10;
$--blue11: --blue11;
$--blue12: --blue12;
$--blueDark1: --blueDark1;
$--blueDark2: --blueDark2;
$--blueDark3: --blueDark3;
$--blueDark4: --blueDark4;
$--blueDark5: --blueDark5;
$--blueDark6: --blueDark6;
$--blueDark7: --blueDark7;
$--blueDark8: --blueDark8;
$--blueDark9: --blueDark9;
$--blueDark10: --blueDark10;
$--blueDark11: --blueDark11;
$--blueDark12: --blueDark12;

$--blueA1:  --blueA1;
$--blueA2:  --blueA2;
$--blueA3:  --blueA3;
$--blueA4:  --blueA4;
$--blueA5:  --blueA5;
$--blueA6:  --blueA6;
$--blueA7:  --blueA7;
$--blueA8:  --blueA8;
$--blueA9:  --blueA9;
$--blueA10: --blueA10;
$--blueA11: --blueA11;
$--blueA12: --blueA12;
$--blueDarkA1:  --blueDarkA1;
$--blueDarkA2:  --blueDarkA2;
$--blueDarkA3:  --blueDarkA3;
$--blueDarkA4:  --blueDarkA4;
$--blueDarkA5:  --blueDarkA5;
$--blueDarkA6:  --blueDarkA6;
$--blueDarkA7:  --blueDarkA7;
$--blueDarkA8:  --blueDarkA8;
$--blueDarkA9:  --blueDarkA9;
$--blueDarkA10: --blueDarkA10;
$--blueDarkA11: --blueDarkA11;
$--blueDarkA12: --blueDarkA12;

$--mint1: --mint1;
$--mint2: --mint2;
$--mint3: --mint3;
$--mint4: --mint4;
$--mint5: --mint5;
$--mint6: --mint6;
$--mint7: --mint7;
$--mint8: --mint8;
$--mint9: --mint9;
$--mint10: --mint10;
$--mint11: --mint11;
$--mint12: --mint12;
$--mintDark1: --mintDark1;
$--mintDark2: --mintDark2;
$--mintDark3: --mintDark3;
$--mintDark4: --mintDark4;
$--mintDark5: --mintDark5;
$--mintDark6: --mintDark6;
$--mintDark7: --mintDark7;
$--mintDark8: --mintDark8;
$--mintDark9: --mintDark9;
$--mintDark10: --mintDark10;
$--mintDark11: --mintDark11;
$--mintDark12: --mintDark12;


$--mintA1:  --mintA1;
$--mintA2:  --mintA2;
$--mintA3:  --mintA3;
$--mintA4:  --mintA4;
$--mintA5:  --mintA5;
$--mintA6:  --mintA6;
$--mintA7:  --mintA7;
$--mintA8:  --mintA8;
$--mintA9:  --mintA9;
$--mintA10: --mintA10;
$--mintA11: --mintA11;
$--mintA12: --mintA12;
$--mintDarkA1:  --mintDarkA1;
$--mintDarkA2:  --mintDarkA2;
$--mintDarkA3:  --mintDarkA3;
$--mintDarkA4:  --mintDarkA4;
$--mintDarkA5:  --mintDarkA5;
$--mintDarkA6:  --mintDarkA6;
$--mintDarkA7:  --mintDarkA7;
$--mintDarkA8:  --mintDarkA8;
$--mintDarkA9:  --mintDarkA9;
$--mintDarkA10: --mintDarkA10;
$--mintDarkA11: --mintDarkA11;
$--mintDarkA12: --mintDarkA12;

$--cyan1: --cyan1;
$--cyan2: --cyan2;
$--cyan3: --cyan3;
$--cyan4: --cyan4;
$--cyan5: --cyan5;
$--cyan6: --cyan6;
$--cyan7: --cyan7;
$--cyan8: --cyan8;
$--cyan9: --cyan9;
$--cyan10: --cyan10;
$--cyan11: --cyan11;
$--cyan12: --cyan12;
$--cyanDark1: --cyanDark1;
$--cyanDark2: --cyanDark2;
$--cyanDark3: --cyanDark3;
$--cyanDark4: --cyanDark4;
$--cyanDark5: --cyanDark5;
$--cyanDark6: --cyanDark6;
$--cyanDark7: --cyanDark7;
$--cyanDark8: --cyanDark8;
$--cyanDark9: --cyanDark9;
$--cyanDark10: --cyanDark10;
$--cyanDark11: --cyanDark11;
$--cyanDark12: --cyanDark12;


$--cyanA1:  --cyanA1;
$--cyanA2:  --cyanA2;
$--cyanA3:  --cyanA3;
$--cyanA4:  --cyanA4;
$--cyanA5:  --cyanA5;
$--cyanA6:  --cyanA6;
$--cyanA7:  --cyanA7;
$--cyanA8:  --cyanA8;
$--cyanA9:  --cyanA9;
$--cyanA10: --cyanA10;
$--cyanA11: --cyanA11;
$--cyanA12: --cyanA12;
$--cyanDarkA1:  --cyanDarkA1;
$--cyanDarkA2:  --cyanDarkA2;
$--cyanDarkA3:  --cyanDarkA3;
$--cyanDarkA4:  --cyanDarkA4;
$--cyanDarkA5:  --cyanDarkA5;
$--cyanDarkA6:  --cyanDarkA6;
$--cyanDarkA7:  --cyanDarkA7;
$--cyanDarkA8:  --cyanDarkA8;
$--cyanDarkA9:  --cyanDarkA9;
$--cyanDarkA10: --cyanDarkA10;
$--cyanDarkA11: --cyanDarkA11;
$--cyanDarkA12: --cyanDarkA12;


$--grass1: --grass1;
$--grass2: --grass2;
$--grass3: --grass3;
$--grass4: --grass4;
$--grass5: --grass5;
$--grass6: --grass6;
$--grass7: --grass7;
$--grass8: --grass8;
$--grass9: --grass9;
$--grass10: --grass10;
$--grass11: --grass11;
$--grass12: --grass12;
$--grassDark1: --grassDark1;
$--grassDark2: --grassDark2;
$--grassDark3: --grassDark3;
$--grassDark4: --grassDark4;
$--grassDark5: --grassDark5;
$--grassDark6: --grassDark6;
$--grassDark7: --grassDark7;
$--grassDark8: --grassDark8;
$--grassDark9: --grassDark9;
$--grassDark10: --grassDark10;
$--grassDark11: --grassDark11;
$--grassDark12: --grassDark12;


$--grassA1:  --grassA1;
$--grassA2:  --grassA2;
$--grassA3:  --grassA3;
$--grassA4:  --grassA4;
$--grassA5:  --grassA5;
$--grassA6:  --grassA6;
$--grassA7:  --grassA7;
$--grassA8:  --grassA8;
$--grassA9:  --grassA9;
$--grassA10: --grassA10;
$--grassA11: --grassA11;
$--grassA12: --grassA12;
$--grassDarkA1:  --grassDarkA1;
$--grassDarkA2:  --grassDarkA2;
$--grassDarkA3:  --grassDarkA3;
$--grassDarkA4:  --grassDarkA4;
$--grassDarkA5:  --grassDarkA5;
$--grassDarkA6:  --grassDarkA6;
$--grassDarkA7:  --grassDarkA7;
$--grassDarkA8:  --grassDarkA8;
$--grassDarkA9:  --grassDarkA9;
$--grassDarkA10: --grassDarkA10;
$--grassDarkA11: --grassDarkA11;
$--grassDarkA12: --grassDarkA12;

$--tomato1: --tomato1;
$--tomato2: --tomato2;
$--tomato3: --tomato3;
$--tomato4: --tomato4;
$--tomato5: --tomato5;
$--tomato6: --tomato6;
$--tomato7: --tomato7;
$--tomato8: --tomato8;
$--tomato9: --tomato9;
$--tomato10: --tomato10;
$--tomato11: --tomato11;
$--tomato12: --tomato12;
$--tomatoDark1: --tomatoDark1;
$--tomatoDark2: --tomatoDark2;
$--tomatoDark3: --tomatoDark3;
$--tomatoDark4: --tomatoDark4;
$--tomatoDark5: --tomatoDark5;
$--tomatoDark6: --tomatoDark6;
$--tomatoDark7: --tomatoDark7;
$--tomatoDark8: --tomatoDark8;
$--tomatoDark9: --tomatoDark9;
$--tomatoDark10: --tomatoDark10;
$--tomatoDark11: --tomatoDark11;
$--tomatoDark12: --tomatoDark12;


$--tomatoA1:  --tomatoA1;
$--tomatoA2:  --tomatoA2;
$--tomatoA3:  --tomatoA3;
$--tomatoA4:  --tomatoA4;
$--tomatoA5:  --tomatoA5;
$--tomatoA6:  --tomatoA6;
$--tomatoA7:  --tomatoA7;
$--tomatoA8:  --tomatoA8;
$--tomatoA9:  --tomatoA9;
$--tomatoA10: --tomatoA10;
$--tomatoA11: --tomatoA11;
$--tomatoA12: --tomatoA12;
$--tomatoDarkA1:  --tomatoDarkA1;
$--tomatoDarkA2:  --tomatoDarkA2;
$--tomatoDarkA3:  --tomatoDarkA3;
$--tomatoDarkA4:  --tomatoDarkA4;
$--tomatoDarkA5:  --tomatoDarkA5;
$--tomatoDarkA6:  --tomatoDarkA6;
$--tomatoDarkA7:  --tomatoDarkA7;
$--tomatoDarkA8:  --tomatoDarkA8;
$--tomatoDarkA9:  --tomatoDarkA9;
$--tomatoDarkA10: --tomatoDarkA10;
$--tomatoDarkA11: --tomatoDarkA11;
$--tomatoDarkA12: --tomatoDarkA12;


$--amber1: --amber1;
$--amber2: --amber2;
$--amber3: --amber3;
$--amber4: --amber4;
$--amber5: --amber5;
$--amber6: --amber6;
$--amber7: --amber7;
$--amber8: --amber8;
$--amber9: --amber9;
$--amber10: --amber10;
$--amber11: --amber11;
$--amber12: --amber12;
$--amberA1: --amberA1;
$--amberA2: --amberA2;
$--amberA3: --amberA3;
$--amberA4: --amberA4;
$--amberA5: --amberA5;
$--amberA6: --amberA6;
$--amberA7: --amberA7;
$--amberA8: --amberA8;
$--amberA9: --amberA9;
$--amberA10: --amberA10;
$--amberA11: --amberA11;
$--amberA12: --amberA12;
$--amberDark1: --amberDark1;
$--amberDark2: --amberDark2;
$--amberDark3: --amberDark3;
$--amberDark4: --amberDark4;
$--amberDark5: --amberDark5;
$--amberDark6: --amberDark6;
$--amberDark7: --amberDark7;
$--amberDark8: --amberDark8;
$--amberDark9: --amberDark9;
$--amberDark10: --amberDark10;
$--amberDark11: --amberDark11;
$--amberDark12: --amberDark12;
$--amberDarkA1: --amberDarkA1;
$--amberDarkA2: --amberDarkA2;
$--amberDarkA3: --amberDarkA3;
$--amberDarkA4: --amberDarkA4;
$--amberDarkA5: --amberDarkA5;
$--amberDarkA6: --amberDarkA6;
$--amberDarkA7: --amberDarkA7;
$--amberDarkA8: --amberDarkA8;
$--amberDarkA9: --amberDarkA9;
$--amberDarkA10: --amberDarkA10;
$--amberDarkA11: --amberDarkA11;
$--amberDarkA12: --amberDarkA12;


$--alpha1:       --alpha1;
$--alpha2:       --alpha2;
$--alpha3:       --alpha3;
$--alpha4:       --alpha4;
$--alpha5:       --alpha5;
$--alpha6:       --alpha6;
$--alpha7:       --alpha7;
$--alpha8:       --alpha8;
$--alpha9:       --alpha9;
$--alpha10:      --alpha10;
$--alpha11:      --alpha11;
$--alpha12:      --alpha12;
$--alphaA1:      --alphaA1;
$--alphaA2:      --alphaA2;
$--alphaA3:      --alphaA3;
$--alphaA4:      --alphaA4;
$--alphaA5:      --alphaA5;
$--alphaA6:      --alphaA6;
$--alphaA7:      --alphaA7;
$--alphaA8:      --alphaA8;
$--alphaA9:      --alphaA9;
$--alphaA10:     --alphaA10;
$--alphaA11:     --alphaA11;
$--alphaA12:     --alphaA12;
$--alphaDark1:   --alphaDark1;
$--alphaDark2:   --alphaDark2;
$--alphaDark3:   --alphaDark3;
$--alphaDark4:   --alphaDark4;
$--alphaDark5:   --alphaDark5;
$--alphaDark6:   --alphaDark6;
$--alphaDark7:   --alphaDark7;
$--alphaDark8:   --alphaDark8;
$--alphaDark9:   --alphaDark9;
$--alphaDark10:  --alphaDark10;
$--alphaDark11:  --alphaDark11;
$--alphaDark12:  --alphaDark12;
$--alphaDarkA1:  --alphaDarkA1;
$--alphaDarkA2:  --alphaDarkA2;
$--alphaDarkA3:  --alphaDarkA3;
$--alphaDarkA4:  --alphaDarkA4;
$--alphaDarkA5:  --alphaDarkA5;
$--alphaDarkA6:  --alphaDarkA6;
$--alphaDarkA7:  --alphaDarkA7;
$--alphaDarkA8:  --alphaDarkA8;
$--alphaDarkA9:  --alphaDarkA9;
$--alphaDarkA10: --alphaDarkA10;
$--alphaDarkA11: --alphaDarkA11;
$--alphaDarkA12: --alphaDarkA12;
