
// Global TOVUTI Overrides
@import 'theme-build';
// Colors
$body-font: 'Inter', sans-serif;
$headline-font: 'Inter', sans-serif;
$mono-font: 'JetBrains Mono', monospace;
.swagger-ui
{

    @import 'mixins';
    @import 'variables';
    @import 'type';
    @import 'layout';
    @import 'buttons';
    @import 'form';
    @import 'modal';
    @import 'models';
    @import 'servers';
    @import 'table';
    @import 'topbar';
    @import 'information';
    @import 'authorize';
    @import 'errors';
    @include text_body();
    @import 'split-pane-mode';
    @import 'markdown';

    margin: auto auto;




}


// TOVUTI STYLING HERE

.moyoLogoContainer {
  display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      margin-left: 0;
      margin-right: auto;
      align-self: flex-start;
    }
}

.tovutiAPI__workOfArt {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.tovApi__gridWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  z-index:0;
}

.tovApi__lineWrapper {
  display:flex;
  position:absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.tovApi__gridLine {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(127, 127, 127, 0.1)
}

.tovApi__contentContainer {
  overflow-y: overlay;
  width: 100%;
  display: block;
  top:0;
  z-index: 100;
  left: auto;
  right: auto;
}

.tovApi__content {
  width: 75%;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 2rem 0;
}


button.apiThemeToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right:0;
  margin-left: auto;
  right: 2rem;
  top: 2rem;
  left: auto;
  background-color: var(--alphaA12);
  border: 0px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  outline: none;
  color: var(--blue2);
}
