:root.light-theme {
  --amber1: hsl(39deg, 70%, 99%);
  --amber2: hsl(40deg, 100%, 96.5%);
  --amber3: hsl(44deg, 100%, 91.7%);
  --amber4: hsl(43deg, 100%, 86.8%);
  --amber5: hsl(42deg, 100%, 81.8%);
  --amber6: hsl(38deg, 99.7%, 76.3%);
  --amber7: hsl(36deg, 86.1%, 67.1%);
  --amber8: hsl(35deg, 85.2%, 55.1%);
  --amber9: hsl(39deg, 100%, 57%);
  --amber10: hsl(35deg, 100%, 55.5%);
  --amber11: hsl(30deg, 100%, 34%);
  --amber12: hsl(20deg, 80%, 17%);
  --amberA1: hsla(40deg, 94.9%, 38.7%, 0.016);
  --amberA2: hsla(40deg, 100%, 50.3%, 0.071);
  --amberA3: hsla(44deg, 100%, 50.1%, 0.165);
  --amberA4: hsla(43deg, 100%, 50%, 0.263);
  --amberA5: hsla(42deg, 100%, 50%, 0.365);
  --amberA6: hsla(38deg, 100%, 50.1%, 0.475);
  --amberA7: hsla(36deg, 99.9%, 46.2%, 0.612);
  --amberA8: hsla(35deg, 99.8%, 46%, 0.832);
  --amberA9: hsla(39deg, 100%, 50%, 0.859);
  --amberA10: hsla(35deg, 100%, 50%, 0.891);
  --amberA11: hsla(29deg, 100%, 33.6%, 0.98);
  --amberA12: hsla(20deg, 99.8%, 14.1%, 0.965);
  --blue1: hsl(206deg, 100%, 99.2%);
  --blue2: hsl(210deg, 100%, 98%);
  --blue3: hsl(209deg, 100%, 96.5%);
  --blue4: hsl(210deg, 98.8%, 94%);
  --blue5: hsl(209deg, 95%, 90.1%);
  --blue6: hsl(209deg, 81.2%, 84.5%);
  --blue7: hsl(208deg, 77.5%, 76.9%);
  --blue8: hsl(206deg, 81.9%, 65.3%);
  --blue9: hsl(206deg, 100%, 50%);
  --blue10: hsl(208deg, 100%, 47.3%);
  --blue11: hsl(211deg, 100%, 43.2%);
  --blue12: hsl(211deg, 100%, 15%);
  --blueA1: hsla(210deg, 100%, 51%, 0.016);
  --blueA2: hsla(210deg, 100%, 51%, 0.04);
  --blueA3: hsla(210deg, 100%, 50.3%, 0.071);
  --blueA4: hsla(210deg, 100%, 50.1%, 0.118);
  --blueA5: hsla(208deg, 99.1%, 47.1%, 0.189);
  --blueA6: hsla(209deg, 99.5%, 45.3%, 0.283);
  --blueA7: hsla(208deg, 99.9%, 43.8%, 0.412);
  --blueA8: hsla(206deg, 99.8%, 45.1%, 0.632);
  --blueA9: hsla(206deg, 100%, 50%, 0.98);
  --blueA10: hsla(208deg, 100%, 47.2%, 0.98);
  --blueA11: hsla(212deg, 100%, 43%, 0.98);
  --blueA12: hsla(213deg, 100%, 14.4%, 0.98);
  --cyan1: hsl(185deg, 60%, 98.7%);
  --cyan2: hsl(185deg, 73.3%, 97.1%);
  --cyan3: hsl(186deg, 70.2%, 94.4%);
  --cyan4: hsl(186deg, 63.8%, 90.6%);
  --cyan5: hsl(187deg, 58.3%, 85.4%);
  --cyan6: hsl(188deg, 54.6%, 78.4%);
  --cyan7: hsl(189deg, 53.7%, 68.7%);
  --cyan8: hsl(189deg, 60.3%, 52.5%);
  --cyan9: hsl(190deg, 95%, 39%);
  --cyan10: hsl(191deg, 91.2%, 36.8%);
  --cyan11: hsl(192deg, 85%, 31%);
  --cyan12: hsl(192deg, 88%, 12.5%);
  --cyanA1: hsla(195deg, 95.2%, 41.2%, 0.02);
  --cyanA2: hsla(185deg, 99.9%, 42.3%, 0.051);
  --cyanA3: hsla(186deg, 97.8%, 42.2%, 0.095);
  --cyanA4: hsla(186deg, 99.9%, 38.5%, 0.153);
  --cyanA5: hsla(187deg, 99.3%, 36.6%, 0.232);
  --cyanA6: hsla(188deg, 99.4%, 35.4%, 0.334);
  --cyanA7: hsla(189deg, 99.6%, 35%, 0.483);
  --cyanA8: hsla(189deg, 99.9%, 37.6%, 0.761);
  --cyanA9: hsla(190deg, 100%, 37.8%, 0.98);
  --cyanA10: hsla(191deg, 99.9%, 34.6%, 0.969);
  --cyanA11: hsla(192deg, 100%, 27.6%, 0.953);
  --cyanA12: hsla(192deg, 100%, 11%, 0.98);
  --grass1: hsl(116deg, 50%, 98.9%);
  --grass2: hsl(120deg, 60%, 97.1%);
  --grass3: hsl(120deg, 53.6%, 94.8%);
  --grass4: hsl(121deg, 47.5%, 91.4%);
  --grass5: hsl(122deg, 42.6%, 86.5%);
  --grass6: hsl(124deg, 39%, 79.7%);
  --grass7: hsl(126deg, 37.1%, 70.2%);
  --grass8: hsl(131deg, 38.1%, 56.3%);
  --grass9: hsl(131deg, 41%, 46.5%);
  --grass10: hsl(132deg, 43.1%, 42.2%);
  --grass11: hsl(133deg, 50%, 32.5%);
  --grass12: hsl(130deg, 30%, 14.9%);
  --grassA1: hsla(120deg, 94.9%, 38.7%, 0.016);
  --grassA2: hsla(120deg, 94.9%, 38.7%, 0.048);
  --grassA3: hsla(120deg, 98%, 35.5%, 0.079);
  --grassA4: hsla(120deg, 98.7%, 31.5%, 0.126);
  --grassA5: hsla(122deg, 98.5%, 29.9%, 0.193);
  --grassA6: hsla(125deg, 99.2%, 27.9%, 0.283);
  --grassA7: hsla(125deg, 99.9%, 27%, 0.408);
  --grassA8: hsla(131deg, 100%, 27.6%, 0.604);
  --grassA9: hsla(131deg, 99.7%, 26.3%, 0.726);
  --grassA10: hsla(132deg, 99.9%, 24%, 0.761);
  --grassA11: hsla(133deg, 99.5%, 19.5%, 0.84);
  --grassA12: hsla(128deg, 98%, 4.9%, 0.895);
  --mint1: hsl(165deg, 80%, 98.8%);
  --mint2: hsl(164deg, 88.2%, 96.7%);
  --mint3: hsl(164deg, 76.6%, 93.3%);
  --mint4: hsl(165deg, 68.8%, 89.5%);
  --mint5: hsl(165deg, 60.6%, 84.5%);
  --mint6: hsl(165deg, 53.5%, 76.9%);
  --mint7: hsl(166deg, 50.7%, 66.1%);
  --mint8: hsl(168deg, 52.8%, 51%);
  --mint9: hsl(167deg, 65%, 66%);
  --mint10: hsl(167deg, 59.3%, 63.1%);
  --mint11: hsl(172deg, 72%, 28.5%);
  --mint12: hsl(172deg, 70%, 12%);
  --mintA1: hsla(168deg, 95.4%, 42.8%, 0.024);
  --mintA2: hsla(164deg, 99.1%, 47.1%, 0.063);
  --mintA3: hsla(164deg, 99.3%, 43.5%, 0.118);
  --mintA4: hsla(164deg, 99.3%, 41.3%, 0.177);
  --mintA5: hsla(165deg, 99%, 37.5%, 0.248);
  --mintA6: hsla(165deg, 100%, 35%, 0.353);
  --mintA7: hsla(166deg, 99.9%, 33.5%, 0.51);
  --mintA8: hsla(168deg, 99.6%, 34.6%, 0.75);
  --mintA9: hsla(167deg, 99.9%, 39.5%, 0.561);
  --mintA10: hsla(167deg, 99.7%, 37.4%, 0.589);
  --mintA11: hsla(172deg, 99.8%, 22.4%, 0.922);
  --mintA12: hsla(172deg, 99.7%, 8.8%, 0.965);
  --tomato1: hsl(10deg, 100%, 99.4%);
  --tomato2: hsl(8deg, 100%, 98.4%);
  --tomato3: hsl(8deg, 100%, 96.6%);
  --tomato4: hsl(8deg, 100%, 94.3%);
  --tomato5: hsl(8deg, 92.8%, 91%);
  --tomato6: hsl(9deg, 84.7%, 86.3%);
  --tomato7: hsl(10deg, 77.3%, 79.5%);
  --tomato8: hsl(10deg, 71.6%, 71%);
  --tomato9: hsl(10deg, 78%, 54%);
  --tomato10: hsl(10deg, 71.5%, 50%);
  --tomato11: hsl(10deg, 82%, 43.5%);
  --tomato12: hsl(10deg, 50%, 13.5%);
  --tomatoA1: hsla(0deg, 100%, 51%, 0.012);
  --tomatoA2: hsla(8deg, 100%, 51%, 0.032);
  --tomatoA3: hsla(7deg, 100%, 50.2%, 0.067);
  --tomatoA4: hsla(8deg, 100%, 50.1%, 0.114);
  --tomatoA5: hsla(7deg, 99.5%, 47.9%, 0.173);
  --tomatoA6: hsla(9deg, 99.9%, 46.2%, 0.255);
  --tomatoA7: hsla(10deg, 99.8%, 43.6%, 0.365);
  --tomatoA8: hsla(10deg, 99.5%, 41.8%, 0.499);
  --tomatoA9: hsla(10deg, 99.9%, 43.8%, 0.82);
  --tomatoA10: hsla(10deg, 100%, 41.8%, 0.859);
  --tomatoA11: hsla(10deg, 99.9%, 38.8%, 0.922);
  --tomatoA12: hsla(10deg, 99%, 7.4%, 0.934);
  --alphaA1: hsla(0deg, 0%, 0%, 0.012);
  --alphaA2: hsla(0deg, 0%, 0%, 0.027);
  --alphaA3: hsla(0deg, 0%, 0%, 0.047);
  --alphaA4: hsla(0deg, 0%, 0%, 0.071);
  --alphaA5: hsla(0deg, 0%, 0%, 0.09);
  --alphaA6: hsla(0deg, 0%, 0%, 0.114);
  --alphaA7: hsla(0deg, 0%, 0%, 0.141);
  --alphaA8: hsla(0deg, 0%, 0%, 0.22);
  --alphaA9: hsla(0deg, 0%, 0%, 0.439);
  --alphaA10: hsla(0deg, 0%, 0%, 0.478);
  --alphaA11: hsla(0deg, 0%, 0%, 0.565);
  --alphaA12: hsla(0deg, 0%, 0%, 0.91);
}

:root.dark-theme {
  --amber1: hsl(36deg, 100%, 6.1%);
  --amber2: hsl(35deg, 100%, 7.6%);
  --amber3: hsl(32deg, 100%, 10.2%);
  --amber4: hsl(32deg, 100%, 12.4%);
  --amber5: hsl(33deg, 100%, 14.6%);
  --amber6: hsl(35deg, 100%, 17.1%);
  --amber7: hsl(35deg, 91%, 21.6%);
  --amber8: hsl(36deg, 100%, 25.5%);
  --amber9: hsl(39deg, 100%, 57%);
  --amber10: hsl(43deg, 100%, 64%);
  --amber11: hsl(39deg, 90%, 49.8%);
  --amber12: hsl(39deg, 97%, 93.2%);
  --amberA1: hsla(0deg, 0%, 0%, 0);
  --amberA2: hsla(31deg, 100%, 49.7%, 0.036);
  --amberA3: hsla(27deg, 100%, 49.9%, 0.094);
  --amberA4: hsla(29deg, 100%, 50%, 0.143);
  --amberA5: hsla(31deg, 100%, 50%, 0.192);
  --amberA6: hsla(35deg, 100%, 50%, 0.25);
  --amberA7: hsla(34deg, 99.6%, 52.9%, 0.331);
  --amberA8: hsla(36deg, 100%, 50%, 0.442);
  --amberA9: hsla(40deg, 100%, 57.2%, 0.98);
  --amberA10: hsla(44deg, 100%, 64.2%, 0.98);
  --amberA11: hsla(39deg, 99.9%, 52.7%, 0.938);
  --amberA12: hsla(45deg, 100%, 94.2%, 0.98);
  --blue1: hsl(212deg, 35%, 9.2%);
  --blue2: hsl(216deg, 50%, 11.8%);
  --blue3: hsl(214deg, 59.4%, 15.3%);
  --blue4: hsl(214deg, 65.8%, 17.9%);
  --blue5: hsl(213deg, 71.2%, 20.2%);
  --blue6: hsl(212deg, 77.4%, 23.1%);
  --blue7: hsl(211deg, 85.1%, 27.4%);
  --blue8: hsl(211deg, 89.7%, 34.1%);
  --blue9: hsl(206deg, 100%, 50%);
  --blue10: hsl(209deg, 100%, 60.6%);
  --blue11: hsl(210deg, 100%, 66.1%);
  --blue12: hsl(206deg, 98%, 95.8%);
  --blueA1: hsla(0deg, 0%, 0%, 0);
  --blueA2: hsla(221deg, 97.8%, 52.4%, 0.059);
  --blueA3: hsla(215deg, 99.3%, 54.2%, 0.135);
  --blueA4: hsla(215deg, 99.3%, 53.8%, 0.198);
  --blueA5: hsla(213deg, 99.4%, 52.8%, 0.252);
  --blueA6: hsla(212deg, 99.9%, 51.7%, 0.323);
  --blueA7: hsla(211deg, 100%, 50.7%, 0.435);
  --blueA8: hsla(211deg, 99.8%, 50.9%, 0.597);
  --blueA9: hsla(205deg, 100%, 50%, 0.98);
  --blueA10: hsla(208deg, 100%, 60.7%, 0.98);
  --blueA11: hsla(209deg, 100%, 66.3%, 0.98);
  --blueA12: hsla(196deg, 100%, 96.8%, 0.98);
  --cyan1: hsl(192deg, 60%, 7.2%);
  --cyan2: hsl(192deg, 71.4%, 8.2%);
  --cyan3: hsl(192deg, 75.9%, 10.8%);
  --cyan4: hsl(192deg, 79.3%, 12.8%);
  --cyan5: hsl(192deg, 82.5%, 14.6%);
  --cyan6: hsl(192deg, 86.6%, 16.9%);
  --cyan7: hsl(192deg, 92.6%, 20.1%);
  --cyan8: hsl(192deg, 100%, 24.5%);
  --cyan9: hsl(190deg, 95%, 39%);
  --cyan10: hsl(188deg, 100%, 40%);
  --cyan11: hsl(186deg, 100%, 42.2%);
  --cyan12: hsl(185deg, 73%, 93.2%);
  --cyanA1: hsla(0deg, 0%, 0%, 0);
  --cyanA2: hsla(196deg, 100%, 50%, 0.031);
  --cyanA3: hsla(192deg, 98%, 50.9%, 0.085);
  --cyanA4: hsla(194deg, 99.6%, 51.3%, 0.133);
  --cyanA5: hsla(192deg, 99.5%, 51.3%, 0.173);
  --cyanA6: hsla(193deg, 99.7%, 50.4%, 0.226);
  --cyanA7: hsla(192deg, 100%, 50%, 0.31);
  --cyanA8: hsla(193deg, 100%, 50%, 0.425);
  --cyanA9: hsla(190deg, 99.8%, 50.8%, 0.731);
  --cyanA10: hsla(188deg, 100%, 50%, 0.775);
  --cyanA11: hsla(186deg, 100%, 49.9%, 0.824);
  --cyanA12: hsla(185deg, 99.8%, 95.1%, 0.978);
  --grass1: hsl(146deg, 30%, 7.4%);
  --grass2: hsl(136deg, 33.3%, 8.8%);
  --grass3: hsl(137deg, 36%, 11.4%);
  --grass4: hsl(137deg, 37.6%, 13.7%);
  --grass5: hsl(136deg, 38.7%, 16%);
  --grass6: hsl(135deg, 39.6%, 19.1%);
  --grass7: hsl(134deg, 40.3%, 23.8%);
  --grass8: hsl(131deg, 40.1%, 30.8%);
  --grass9: hsl(131deg, 41%, 46.5%);
  --grass10: hsl(131deg, 39%, 52.1%);
  --grass11: hsl(131deg, 43%, 57.2%);
  --grass12: hsl(137deg, 72%, 94%);
  --grassA1: hsla(0deg, 0%, 0%, 0);
  --grassA2: hsla(107deg, 97.2%, 61.9%, 0.022);
  --grassA3: hsla(128deg, 96.5%, 69.8%, 0.066);
  --grassA4: hsla(130deg, 100%, 70.2%, 0.1);
  --grassA5: hsla(130deg, 98.2%, 69.1%, 0.14);
  --grassA6: hsla(132deg, 99.9%, 69.3%, 0.187);
  --grassA7: hsla(132deg, 99.9%, 69.8%, 0.261);
  --grassA8: hsla(130deg, 99.6%, 70.5%, 0.37);
  --grassA9: hsla(130deg, 99.7%, 70.6%, 0.618);
  --grassA10: hsla(131deg, 100%, 73.5%, 0.674);
  --grassA11: hsla(130deg, 99.7%, 75.6%, 0.731);
  --grassA12: hsla(137deg, 100%, 95.8%, 0.98);
  --mint1: hsl(173deg, 50%, 6.6%);
  --mint2: hsl(176deg, 73%, 7.3%);
  --mint3: hsl(175deg, 79.3%, 8.9%);
  --mint4: hsl(174deg, 84.8%, 10.3%);
  --mint5: hsl(174deg, 90.2%, 11.9%);
  --mint6: hsl(173deg, 96%, 13.8%);
  --mint7: hsl(172deg, 100%, 16.8%);
  --mint8: hsl(170deg, 100%, 21.4%);
  --mint9: hsl(167deg, 65%, 66%);
  --mint10: hsl(163deg, 80%, 77%);
  --mint11: hsl(167deg, 70%, 48%);
  --mint12: hsl(165deg, 80%, 94.8%);
  --mintA1: hsla(0deg, 0%, 0%, 0);
  --mintA2: hsla(180deg, 100%, 49.2%, 0.031);
  --mintA3: hsla(176deg, 100%, 49.7%, 0.07);
  --mintA4: hsla(173deg, 100%, 49.7%, 0.105);
  --mintA5: hsla(173deg, 100%, 49.8%, 0.144);
  --mintA6: hsla(172deg, 100%, 49.8%, 0.192);
  --mintA7: hsla(171deg, 100%, 49.9%, 0.266);
  --mintA8: hsla(169deg, 100%, 49.9%, 0.366);
  --mintA9: hsla(167deg, 99.8%, 75%, 0.87);
  --mintA10: hsla(163deg, 99.9%, 80.7%, 0.948);
  --mintA11: hsla(167deg, 99.9%, 58.7%, 0.796);
  --mintA12: hsla(169deg, 100%, 96.2%, 0.98);
  --tomato1: hsl(10deg, 23%, 9.4%);
  --tomato2: hsl(9deg, 44.8%, 11.4%);
  --tomato3: hsl(8deg, 52%, 15.3%);
  --tomato4: hsl(7deg, 56.3%, 18%);
  --tomato5: hsl(7deg, 60.1%, 20.6%);
  --tomato6: hsl(8deg, 64.8%, 24%);
  --tomato7: hsl(8deg, 71.2%, 29.1%);
  --tomato8: hsl(10deg, 80.2%, 35.7%);
  --tomato9: hsl(10deg, 78%, 54%);
  --tomato10: hsl(10deg, 81.7%, 59%);
  --tomato11: hsl(10deg, 85%, 62.8%);
  --tomato12: hsl(10deg, 89%, 96%);
  --tomatoA1: hsla(0deg, 0%, 0%, 0);
  --tomatoA2: hsla(5deg, 100%, 49.6%, 0.058);
  --tomatoA3: hsla(6deg, 99.6%, 54.9%, 0.133);
  --tomatoA4: hsla(6deg, 99.2%, 55.4%, 0.191);
  --tomatoA5: hsla(6deg, 99.5%, 55.8%, 0.244);
  --tomatoA6: hsla(7deg, 99.7%, 55.9%, 0.319);
  --tomatoA7: hsla(8deg, 99.8%, 54.8%, 0.434);
  --tomatoA8: hsla(10deg, 99.8%, 53.5%, 0.598);
  --tomatoA9: hsla(10deg, 100%, 59.7%, 0.885);
  --tomatoA10: hsla(10deg, 100%, 63.6%, 0.916);
  --tomatoA11: hsla(10deg, 99.7%, 66.4%, 0.939);
  --tomatoA12: hsla(12deg, 100%, 97.1%, 0.98);
  --alphaA1: hsla(0deg, 0%, 100%, 0);
  --alphaA2: hsla(0deg, 0%, 100%, 0.013);
  --alphaA3: hsla(0deg, 0%, 100%, 0.034);
  --alphaA4: hsla(0deg, 0%, 100%, 0.056);
  --alphaA5: hsla(0deg, 0%, 100%, 0.086);
  --alphaA6: hsla(0deg, 0%, 100%, 0.124);
  --alphaA7: hsla(0deg, 0%, 100%, 0.176);
  --alphaA8: hsla(0deg, 0%, 100%, 0.249);
  --alphaA9: hsla(0deg, 0%, 100%, 0.386);
  --alphaA10: hsla(0deg, 0%, 100%, 0.446);
  --alphaA11: hsla(0deg, 0%, 100%, 0.592);
  --alphaA12: hsla(0deg, 0%, 100%, 0.923);
}
